<p>Nombre del Empleado: {{nombre}} </p>
<p>Apellido del Empleado: {{apellido}} </p>
<p>Edad del Empleado: {{edad<18 ? "Menor de edad" : "Mayor de edad"}} </p>
<p>Nombre de la Empresa: {{empresa.value}} </p>

Ingrese el nombre de la empresa: <input type="text" #empresa (keyup)="0">

<!-- Con Boton: 

<input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)"/>

 -->
  <br/>
  <br/>

  Registrado: <input type="checkbox" id="Registro" [checked]="usoRegistrado">
  {{getRegistroUsuario}}